        html, body {
            max-width: 100vw;
            overflow-x: hidden;
        }

        /* Esconde a barra de rolagem em menus horizontais (como as abas) mantendo o scroll */
        .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }
        .scrollbar-hide {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        body {
            font-family: 'Inter', sans-serif;
        }

        /* Classe para esconder páginas inativas */
        .page {
            display: none;
        }

        /* Classe para mostrar a página ativa */
        .page.active {
            display: block;
        }

        /* Estilo para links ativos no menu */
        .sidebar-link.active {
            background-color: #4f46e5;
            /* indigo-700 */
            color: white;
        }
    